body {
  background: rgba(10, 100, 200, 0.2)
}
.profileContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.profileSection {
  padding: 1rem;
  margin-bottom: 2rem;
}

.profileTitle {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.profileHeader {
  padding: 1rem;
  background: rgba(200,200,200, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dataEntry {
  display: flex;
  flex-direction: row;
}

.dataEntryTitle {
  font-weight: 500;
  margin-right: 0.5rem;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 90vh;
}

.loginTitle {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.loginError {
  color: red;
}